<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h3>My First Assignment</h3>
        <p>
          This is my first assigment. And now, for some lorem ipsum.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus dolor perspiciatis, architecto amet explicabo, a eaque vel nostrum eius odio, ipsum sit quibusdam deserunt mollitia?
        </p>
        <hr>
        <warning-alert></warning-alert>
        <br>
        <success-alert></success-alert>
          
      </div>
  </div>
</div>
