html {
    height: 100%;
}
body{
    height: 100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background: radial-gradient(white, black);
    
    display: flex;
    vertical-align:middle;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

.frame{
    display:flex;
    flex-direction: column;
    
    height:90%; 
    width:500px; 
    margin: 0 auto;
    background-color: #363634;
    border-radius: 25px;

}
.text{
    height:20%;
    margin:30px;
    padding:10px;
    background-color: #ceceab;
    border-radius: 15px;
    border:none;
    resize:none;
    box-shadow: inset 0px 0px 10px black;
    font-size:40px;
    text-align: right;
    padding:25px 15px 0 0 ;
    
}
.buttoncontainer{ 
    display:flex;
    flex-direction: row;
    align-content: space-around;
    flex-basis: 100%;
    margin:0 30px 30px 30px;
}
.button{
    flex-basis:33.3%;
    border-radius: 7px;
    position:relative;
    background-color: #4e4e4d;
    color:white;
    font-size:30px;
    border:1px solid black;
    margin:5px;
    transition-duration: 0.3s;
}
.button:hover{
    background-color: #686868;
}
.button:active{
    background-color: #363634;
}

.left{
    display:flex;
    flex-wrap: wrap;
    flex-basis:75%; 
    flex-direction: column;
}
.buttonrow{
    display:flex;
    flex-basis:20%;
}
.zero{
    flex-basis:100%;  
}

.right{
    display:flex;
    flex-direction: column;
    flex-basis:25%;
    width:100%;
    flex-basis: 25%;
}
.upperright{
    display:flex;
    flex-basis: 60%;
    flex-direction: column;
}
.lowerright{
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
}
.equals{
    flex-basis:100%;
}

.bottomtext{
    color:white;
    font-size: 15px;

}
/* .buttonarea{
    display:flex;
    border:1px solid red;
    height:15%;
    margin:1%; 
    justify-content: space-between;
} */